<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | User Approval</title>
</head>
<body>
    
    
    <style>
        table, th, td {
            border: 1px solid;
            font-size: 20px;
        }
        </style>

    <table>
        <thead>
            <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Campus</th>
            <th>Role</th>
            <th>Approve</th>
            <th>Deny</th>
            </tr>
        </thead>
        <tbody>
        {% for x in detail %}  
            <tr>
            <td>{{x.id}}</td>
            <td>{{x.email}}</td>
            <td>{{x.campus}}</td>
            <td>{{x.role}}</td>
            <td ><a href="/adminval/approve/{{x.id}}" style="color:green;text-decoration: none;">Approve</a></td>
            <td><a href="/adminval/delete/{{x.id}}" style="color:red;text-decoration: none;">Deny</a></td>
            </tr>
        {% endfor %} 
        </tbody>
    </table>	

</body>
</html>