<!DOCTYPE html>


<html lang="en">

    {% load static %}

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>User Approval</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'adminstyle.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script>
            function search_user()
            {
                var input,table,tr,td,filter,txtdata;
                input=document.getElementById("user_search");
                filter=input.value.toUpperCase();
                table=document.getElementById("sampleTable");
                tr=table.getElementsByTagName("tr");
                
                for(i=0;i<tr.length;i++)
                {
                    td=tr[i].getElementsByTagName("td")[1];
                    if(td)
                    {
                        txtdata=td.innerText;
                        if(txtdata.toUpperCase().indexOf(filter)>-1)
                        {
                            tr[i].style.display="";
                        }
                        else
                        {
                            tr[i].style.display="none";
                        }
                    }
                }

            }

            function clearField()
            {
                var table = document.getElementById("sampleTable");
                var searchBox = document.getElementById("user_search");
                searchBox.value = "";
                const rows = table.getElementsByTagName("tr");
                for (let i = 0; i < rows.length; i++) {
                    rows[i].style.display = "";
                }
            }

            function search_team()
            {
                var input,table,tr,td,filter,txtdata;
                input=document.getElementById("team_search");
                filter=input.value.toUpperCase();
                table=document.getElementById("sampleTable1");
                tr=table.getElementsByTagName("tr");
                
                for(i=0;i<tr.length;i++)
                {
                    td=tr[i].getElementsByTagName("td")[1];
                    if(td)
                    {
                        txtdata=td.innerText;
                        if(txtdata.toUpperCase().indexOf(filter)>-1)
                        {
                            tr[i].style.display="";
                        }
                        else
                        {
                            tr[i].style.display="none";
                        }
                    }
                }

            }


            function clearField1()
            {
                var table = document.getElementById("sampleTable1");
                var searchBox = document.getElementById("team_search");
                searchBox.value = "";
                const rows = table.getElementsByTagName("tr");
                for (let i = 0; i < rows.length; i++) {
                    rows[i].style.display = "";
                }
            }

            function search_project()
            {
                var input,table,tr,td,filter,txtdata;
                input=document.getElementById("project_search");
                filter=input.value.toUpperCase();
                table=document.getElementById("sampleTable2");
                tr=table.getElementsByTagName("tr");
                
                for(i=0;i<tr.length;i++)
                {
                    td=tr[i].getElementsByTagName("td")[1];
                    if(td)
                    {
                        txtdata=td.innerText;
                        if(txtdata.toUpperCase().indexOf(filter)>-1)
                        {
                            tr[i].style.display="";
                        }
                        else
                        {
                            tr[i].style.display="none";
                        }
                    }
                }

            }


            function clearField2()
            {
                var table = document.getElementById("sampleTable2");
                var searchBox = document.getElementById("project_search");
                searchBox.value = "";
                const rows = table.getElementsByTagName("tr");
                for (let i = 0; i < rows.length; i++) {
                    rows[i].style.display = "";
                }
            }
        </script>
        </script>

        
    </head>




    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Project Management</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'admin:logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Main</div>
                            <a class="nav-link" href="{% url 'admindashboard' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>

                            <a class="nav-link" href="{% url 'admin:index' %}">
                                <div class="sb-nav-link-icon"><i class="fa fa-database"></i></div>
                                Models | Databases
                            </a>
                            
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">User Management</div>
                            <a class="nav-link" href="{% url 'adminval' %}">
                                <div class="sb-nav-link-icon"><i class="fa fa-user-plus"></i></div>
                                User Approval
                            </a>
                            <a href="{% url 'logout'%}"><div class="sb-sidenav-menu-heading">logout</div></a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Admin
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">


                <div class="card p-4 m-5" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                    <h3 class="text-center">Requests</h3>
                    <div class="col-sm-12">
                        Search Bar
                        <table class="table table-hover table-bordered mt-3 mb-5" id="sampleTable" role="grid"
                            aria-describedby="sampleTable_info">
                            <thead class="thead-dark">
                                <tr role="row">
                                    <th class="sorting text-center" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >User</th>
                                    <th class="sorting text-center" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >User</th>
                                    <th class="sorting text-center" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd text-center">
                                    <td>User</td>
                                    <td>Message</td>
                                    <td><a href="/adminuserdelete/{{user.id}}" style="color:red;text-decoration: none;font-weight: bolder;"><img src="{% static "icons/delete.svg" %}" style="cursor: pointer;"></img></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="card p-4 m-5" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                    <h3 class="text-center">User Management</h3>
                    <div class="col-sm-12">

                        <div class = "Filters" style="text-align:center; margin: 20px; padding-top: 2rem;">
                            <p style="display:inline; color: #000000; border-color: #a4b7c1;font-size: 16px;"><b> Filters</b></p>                                
                                <input type="text" id="user_search" placeholder="Search Records" onkeyup="search_user();" style="height: 2rem; border-radius: .5rem; border: 1px solid black" class="ml-1">
                                <input type="button" value="Clear" onclick= "clearField();" class="ml-1 btn btn-dark position-relative py-0" style="height: 2rem; top: -2px; border-radius: .5rem;">
                        </div>

                        <table class="table table-hover table-bordered mt-3 mb-5" id="sampleTable" role="grid"
                            aria-describedby="sampleTable_info">
                            <thead class="thead-dark">
                                <tr role="row">
                                    <th class="text-center sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending">ID</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >User</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr role="row" class="odd text-center">
                                    <td>{{user.id}}</td>
                                    <td>{{user.username}}</td>
                                    <td><a href="#" style="color:red;text-decoration: none;font-weight: bolder;"><img src="{% static "icons/delete.svg" %}" style="cursor: pointer;"></img></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card p-4 m-5" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                    <h3 class="text-center">Team Management</h3>
                    <div class="col-sm-12">
                        <div class = "Filters" style="text-align:center; margin: 20px; padding-top: 2rem;">
                            <p style="display:inline; color: #000000; border-color: #a4b7c1;font-size: 16px;"><b> Filters</b></p>                                
                                <input type="text" id="team_search" placeholder="Search Records" onkeyup="search_team();" style="height: 2rem; border-radius: .5rem; border: 1px solid black" class="ml-1">
                                <input type="button" value="Clear" onclick= "clearField1();" class="ml-1 btn btn-dark position-relative py-0" style="height: 2rem; top: -2px; border-radius: .5rem;">
                        </div>
                        <table class="table table-hover table-bordered mt-3 mb-5" id="sampleTable1" role="grid"
                            aria-describedby="sampleTable_info">
                            <thead class="thead-dark">
                                <tr role="row">
                                    <th class="text-center sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending">ID</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Team</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in teams %}
                                <tr role="row" class="odd text-center">
                                    <td>{{team.id}}</td>
                                    <td>{{team.team_name}}</td>
                                    <td><a href="/adminteamdelete/{{team.id}}" style="color:red;text-decoration: none;font-weight: bolder;"><img src="{% static "icons/delete.svg" %}" style="cursor: pointer;"></img></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="card p-4 m-5" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                    <h3 class="text-center">Project Management</h3>
                    <div class="col-sm-12">
                        <div class = "Filters" style="text-align:center; margin: 20px; padding-top: 2rem;">
                            <p style="display:inline; color: #000000; border-color: #a4b7c1;font-size: 16px;"><b> Filters</b></p>                                
                                <input type="text" id="project_search" placeholder="Search Records" onkeyup="search_project();" style="height: 2rem; border-radius: .5rem; border: 1px solid black" class="ml-1">
                                <input type="button" value="Clear" onclick= "clearField2();" class="ml-1 btn btn-dark position-relative py-0" style="height: 2rem; top: -2px; border-radius: .5rem;">
                        </div>
                        <table class="table table-hover table-bordered mt-3 mb-5" id="sampleTable2" role="grid"
                            aria-describedby="sampleTable_info">
                            <thead class="thead-dark">
                                <tr role="row">
                                    <th class="text-center sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending">ID</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Project</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr role="row" class="odd text-center">
                                    <td>{{project.id}}</td>
                                    <td>{{project.name}}</td>
                                    <td><a href="/adminprojectdelete/{{project.id}}" style="color:red;text-decoration: none;font-weight: bolder;"><img src="{% static "icons/delete.svg" %}" style="cursor: pointer;"></img></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                    <div class="container-fluid px-4">
                    </div>
                </footer>
            </div>
        </div>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

        
        <script src="{% static 'js/adminscripts.js' %}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>


    </body>
</html>
