<div class="modal fade" id="editIncomeModal" tabindex="-1" aria-labelledby="editIncomeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        {% load static%}
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editIncomeLabel">Edit Income</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/projects/project/{{projectid}}/editincome/{{thisIncomeId}}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <div>
                        <div class="form-group border py-1" style="border-radius:.5rem;">
                            <label class="col-form-label pl-2">Particular</label>
                            <div class="input-group border-top pt-2">
                                <img src="{% static "icons/item.svg" %}"></img>
                                <input type="text" class="btn-block border-0 pl-2" style="width:95%; height:2rem"
                                    name="particular" placeholder="Particular" value="{{thisIncomeParticular}}">
                            </div>
                        </div>
                        <div class="form-group border py-1" style="border-radius:.5rem;">
                            <label class="col-form-label pl-2">Amount</label>
                            <div class="input-group border-top pt-2">
                                <img src="{% static "icons/rupee.svg" %}" style="width: 5%"></img>
                                <input type="number" class="btn-block border-0 pl-2" style="width:95%; height:2rem"
                                    name="amount" placeholder="Amount" value="{{thisIncomeAmount}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" d-flex align-items-center justify-content-center mb-3 ">
                    <button type="submit" class="btn btn-dark col-3 mr-5" style="border-radius:.5rem;">Update Income</button>
                    <button type="button" class="btn btn-dark col-3 ml-5" style="border-radius:.5rem;" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>