<!DOCTYPE html>
<html lang="en">

    {% load static%}

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login | CC</title>
        <link href="{% static 'loginsignupstyles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    </head>

    <body style="background-color: #7186a8;">
        <div id="layoutAuthentication" class="shadow-lg">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container" >
                        <div class="row justify-content-center" style="height: 100vh; display: flex; justify-content: center; align-items: center; width: 100%; ">
                            <div class="col-lg-5" >
                                <div class="card"  style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                                    {% comment %} <div class="card-header"><h3 class="text-center font-weight-light my-4">LOGIN</h3></div> {% endcomment %}
                                    
                                    <div class="card-body">
                                        
                                        

                                        {%if errormsg%}
                                        <script>alert("{{errormsg}}")</script>
                                        {%endif%}
                                        <br>                                    
                                        {% comment %} <div class="small mb-3 text-muted" style="font-family:Montserrat;font-weight: bolder;">Enter email and password</div> {% endcomment %}
                                        
                                        <form method="post" action="{% url 'login' %}">
                                            {% csrf_token %}
                                            <h1 class="text-center">Login</h1>
                                            <div class="form-group mt-3">
                                                <div class="input-group">
                                                    <img src="{% static "icons/user.svg" %}" ></img>
                                                    <input type="text"
                                                        class="form-control"
                                                        name="{{ login_form.username.name }}"
                                                        placeholder="{{ login_form.username.label }}"
                                                        id="{{ login_form.username.id_for_label }}"
                                                        {% if login_form.username.value != None %}value="{{ login_form.username.value|stringformat:'s' }}"{% endif %}
                                                        maxlength="{{ login_form.username.field.max_length }}"
                                                        {% if login_form.username.field.required %}required{% endif %}>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <div class="input-group">
                                                    <img src="{% static "icons/password.svg" %}" ></img>
                                                    <input type="password"
                                                        class="form-control"
                                                        name="{{ login_form.password.name }}"
                                                        placeholder="{{ login_form.password.label }}"
                                                        id="{{ login_form.password.id_for_label }}"
                                                        {% if login_form.password.value != None %}value="{{ login_form.password.value|stringformat:'s' }}"{% endif %}
                                                        maxlength="{{ login_form.password.field.max_length }}"
                                                        {% if login_form.password.field.required %}required{% endif %}>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 text-center w-100">
                                                    <button type="submit" class="btn btn-primary px-4 btn-dark mt-4 shadow">Login</button>
                                                </div>

                                                {% if login_form.errors %}
                                                <div class="alert alert-danger col-12 mt-3" role="alert">

                                                    Wrong username or password!
                                                    
                                                    {% if adminvalerrormsg %}
                                                    <br>
                                                    User has to be validated by administration!
                                                    {% endif %}

                                                </div>
                                                {% endif %}

                                            </div>
                                        </form>

                                    </div>



                                    <div class="text-center py-3 mt-3">
                                        <div class="small" style="font-family: Montserrat;font-weight: bolder;"><a href="{% url 'signup' %}" class="text-dark">Need an account? Sign up!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            {% comment %} <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                </footer>
            </div> {% endcomment %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
