{% extends temp %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Friends</li>
{% endblock breadcrumb%}

{% block extracss %}
<style>
    @media screen and (min-width: 600px) {
      .children form {
        margin-left: -48px;
        /* will touch very left side */
      }
  
      .children .children form {
        margin-left: -96px;
        /* will touch very left side */
      }
    }
  </style>
{% endblock extracss %}

{% block extrascripts %}
<script>
    function formExit() {
      document.getElementById("newForm").remove();
    }
  
    function myFunction(id) {
      if (document.contains(document.getElementById("newForm"))) {
        document.getElementById("newForm").remove();
      }
  
      var d1 = document.getElementById(id);
      d1.insertAdjacentHTML('afterend',
        '<form id="newForm" class="form-insert py-2" method="post"> \
                  <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
                  <select name="parent" class="d-none" id="id_parentt"> \
                  <option value="' + id + '" selected="' + id + '"></option> \
                  </select> \
                  <label for="id_content">Content:</label> \
                  <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                  {% csrf_token %} \
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
                </form>');
  
      //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
    }
  
    $('#myForm').trigger("reset");
  </script>


{% endblock extrascripts %}

{% block content %}

<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="social-box" style="height:110%">
                        
                        <!-- <img src="{{user_view.img.url }}" class="img-avatar m-4" alt="{{ user_view }}" width="20%"> -->
                        
<br><br><br><br><br>
                        {% for projname in projdet %}
                        <h1 style="font-size: 40px;">{{projname.name}}</h1>
                        {% endfor %}
                        

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mt-5">
                        <div class="simple-box">
                            <br><br><br>
                            <h2 style="text-align: center;">Project details</h2>
                            <br><br><br>
                            <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Project Name</th>
                                    <th>Type</th>
                                    <th>Efforts</th>
                                    <th>Status</th>
                                    <th>Added date</th>
                                    <th>Dead line</th>
                                    <th>Company</th>
                                    <th>Description</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projdet %}
                                <tr>
                                    <td>{{ project.id }}</td>
                                    <td>{{ project.name }}</td>
                                    <td>Type</td>
                                    <td>{{ project.efforts }}</td>
                                    <td>
                                        {% if project.status == '1' %}
                                        Working
                                        {% elif project.status == '2' %}
                                        Stuck
                                        {% elif project.status == '3' %}
                                        Done
                                        {% endif %}
                                    </td>
                                    <td>{{ project.add_date }}</td>
                                    <td>{{ project.dead_line }}</td>
                                    <td>{{ pcname }}</td>
                                    <td>{{ project.description }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br><br><br>
                        <h2 style="text-align: center;">Team Members</h2>
                        <br><br><br>
                        <table class="table">
                            <thead>
                                <th>Members</th>
                                <th>Team Name</th>
                            </thead>
                            <tbody>

                                <tr>
                                {% for member in team_members %}
                                {% for name in team_name %}
                                
                                <td> {{member}} </td> 
                                <td> <b>{{name}}</b> </td>

                                </tr>
                            {% endfor %}
                            {% endfor %}
                            </tbody>
                            
                            
                        </table>



                        <br><br><br>
                        <h2 style="text-align: center;">Finances</h2>
                        <br><br><br>
                        <table class="table">
                            <thead>
                                <th>Total Cost(Before GST)</th>
                                <th>Percentage to Christ University</th>
                                <th>Cost to Christ University</th>
                                <th>Cost to faculties</th>
                                <th>Consulting Profit</th>
                            </thead>
                            <tbody>

                                <tr>
                                {% comment %} {% for member in team_members %}
                                {% for name in team_name %}
                                <td> {{member}} </td> 
                                <td> <b>{{name}}</b> </td> {% endcomment %}

                                <td>50000</td>
                                <td>5%</td>
                                <td>2500</td>
                                <td>27000</td>
                                <td>20500</td>

                                </tr>
                            {% comment %} {% endfor %}
                            {% endfor %} {% endcomment %}
                            </tbody>
                            
                            
                        </table>


                        <br><br><br>
                        <h2 style="text-align: center;">Detailed Finances</h2>
                        <br><br><br>
                        <table class="table">
                            <thead>
                                <th>Particular</th>
                                <th>Amount</th>
                            </thead>
                            <tbody>

                                <tr>
                                {% comment %} {% for member in team_members %}
                                {% for name in team_name %}
                                <td> {{member}} </td> 
                                <td> <b>{{name}}</b> </td> {% endcomment %}

                                <td>Total amount received from XYZ excluding  GST and TDS</td>
                                <td>100000</td>

                                </tr>
                            {% comment %} {% endfor %}
                            {% endfor %} {% endcomment %}
                            </tbody>
                            
                            
                        </table>

                    </div>
                    
                </div>
            </div>
            

            <div class="container-fluid">
                <div id="ui-view" style="opacity: 1;">
                    <div class="animated fadeIn">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="social-box" style="height:110%">
                                    
                                    <!-- <img src="{{user_view.img.url }}" class="img-avatar m-4" alt="{{ user_view }}" width="20%"> -->
                                    
            <br><br><br><br><br>
            <div class="container">
                <div class="row justify-content-md-center pt-5">
              
                  <div class="col-md-7">
              
                    {% with allcomments.count as total_comments %}
                    <h2>
                      {{ total_comments }} comment{{ total_comments|pluralize }}
                    </h2>
                    {% endwith %}
              
                    {% load mptt_tags %}
              
                    <div>
                      {% recursetree comments %}
                      <div id="{{ node.id }}" class="my-2 p-2" style="border: 1px solid grey">
                        <div class="d-flex justify-content-between">By {{ user.get_username }}<div></div>{{ node.date_time }}</div>
                        <!-- change author to user login -->
                        <div>{{ node.content }}</div>
                        <hr />
                        {% if node.level < 3 %}
                        <button class="button" onclick="myFunction({{node.id}})">Reply</button>
                        {% endif %}
                      </div>
                      {% if not node.is_leaf_node %}
                      <div class="children pl-2 pl-md-5">
                        {{ children }}
                      </div>
                      {% endif %}
                      {% endrecursetree %}
                    </div>
              
                    <div class="py-4">
                      <nav aria-label="Page navigation example">
                        {% if comments.has_other_pages %}
                        <ul class="pagination">
                          {% if comments.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">Previous</a>
                          </li>
                          {% else %}
                          <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                          {% endif %}
                          {% for num in comments.paginator.page_range %}
                          {% if comments.number == l %}
                          <li class="page-item active"><span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
                          </li>
                          {% else %}
                          <li><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                          {% endif %}
                          {% endfor %}
                          {% if comments.has_next %}
                          <li class="page-item"><a class="page-link" href="?page={{ comments.next_page_number }}">Next</a></li>
                          {% else %}
                          <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                          {% endif %}
                        </ul>
                        {% endif %}
                      </nav>
                    </div>
              
                    <div id="myDIV" style="display:block;">
                      <form id="myForm" method="post">
                        <h2>Create new comment</h2>
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                      </form>
                    </div>
              
                  </div>
                </div>
              </div>

                                    
            
                                </div>
                            </div>
                        </div>


                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}