<!DOCTYPE html>
<html lang="en">

    {% load static %}

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sign-Up | CC</title>
        <link href="{% static 'loginsignupstyles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        
        <style>
        
            #message {
            display:none;
            background: #f1f1f1;
            color: #000;
            position: relative;
            padding: 20px;
            margin-top: 10px;
            }
        
            #message p {
            padding: 10px 35px;
            font-size: 18px;
            }
        
            .valid {
            color: green;
            }
        
            .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
            }
        
            .invalid {
            color: red;
            }
        
            .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
            }
        
        </style>


    

    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    {% comment %} <div class="card-header"><h3 class="text-center font-weight-light my-4">SIGNUP</h3></div> {% endcomment %}

                                    
                                    {% comment %} kkkkkkkkkkkkkkkkkkkkkkkkk {% endcomment %}
                                    <div id="message">
                                        <h3>Password must contain the following:</h3>
                                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                        <p id="number" class="invalid">A <b>number</b></p>
                                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container animated fadeIn" >
                        <div class="row justify-content-center">
                            <div class="col-6" style="width: 38vw;">
                                <div class="card-group">
                                    <div class="card p-4 mb-5 rounded-5">
                                        <div class="card-body">
                                            {% if created %}
                                              <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                  </button>
                                                 A new user has been sent for approval!
                                              </div>
                                            {% endif %}
                                                {% csrf_token %}
                                                <h1 class="text-center">Sign Up</h1>
                                                {% comment %} <p class="text-muted">Enter user details here</p> {% endcomment %}
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-group mt-3">
                                            <div class="input-group">
                                                <img src="{% static "icons/username.svg" %}" ></img>
                                                {% comment %} <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                </div> {% endcomment %}
                                                {{ form.username }}
                                                {% if form.username.errors %}
                                                    <ol>
                                                    {% for error in form.username.errors %}
                                                        <li><strong>{{ error|escape }}</strong></li>
                                                    {% endfor %}
                                                    </ol>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group  mt-3">
                                            <div class="input-group">
                                                <img src="{% static "icons/user.svg" %}" ></img>
                                                {% comment %} <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                </div> {% endcomment %}
                                                {{ form.first_name }}
                                                {% if form.first_name.errors %}
                                                    <ol>
                                                    {% for error in form.first_name.errors %}
                                                        <li><strong>{{ error|escape }}</strong></li>
                                                    {% endfor %}
                                                    </ol>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="input-group">
                                                <img src="{% static "icons/user.svg" %}" ></img>
                                                {{ form.last_name }}
                                                {% if form.last_name.errors %}
                                                    <ol>
                                                    {% for error in form.last_name.errors %}
                                                        <li><strong>{{ error|escape }}</strong></li>
                                                    {% endfor %}
                                                    </ol>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="input-group">
                                                <img src="{% static "icons/mail.svg" %}" ></img>
                                                {{ form.email }}
                                                {% if form.email.errors %}
                                                    <ol>
                                                    {% for error in form.email.errors %}
                                                        <li><strong>{{ error|escape }}</strong></li>
                                                    {% endfor %}
                                                    </ol>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="input-group">
                                                <img src="{% static "icons/password.svg" %}" ></img>
                                                {% comment %} <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                                </div> {% endcomment %}
                                                {{ form.password1 }}
                                                {% if form.password1.errors %}
                                                    <ol>
                                                    {% for error in form.password1.errors %}
                                                        <li><strong>{{ error|escape }}</strong></li>
                                                    {% endfor %}
                                                    </ol>
                                                {% endif %}
                                                {% comment %} <p>Show Password</p> {% endcomment %}
                                                {% comment %} <img src="{% static "icons/eye.svg" %}" ></img> {% endcomment %}
                                                {% comment %} <img src="{% static "icons/eye-off.svg" %}" ></img> {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="input-group">
                                                <img src="{% static "icons/password.svg" %}" ></img>
                                                {% comment %} <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-key"></i>
                                                    </span>
                                                </div> {% endcomment %}
                                                {{ form.password2 }}
                                            </div>
                                            {% if form.password2.errors %}
                                                    <ol>
                                                    {% for error in form.password2.errors %}
                                                        <li><strong>{{ error|escape }}</strong></li>
                                                    {% endfor %}
                                                    </ol>
                                                {% endif %}
                                        </div>
                                        
                                        <div class="d-flex align-items-center justify-content-between mt-12 mb-0">


                                            <div class="field-selection">
                                                <p class="title">Role</p>
                                                <select name="role" class="sel-field">
                                                    <option value="Head Consultant">Head Consultant</option>
                                                    <option value="Lead Consultant">Lead Consultant</option>
                                                    <option value="Professor">Professor</option>
                                                    <option value="Intern">Intern</option>
                                                    <option value="Sr Intern">Sr Intern</option>
                                                </select>
                                            </div>


                                            <div class="field-selection">
                                                <p class="title">Campus</p>
                                                <select class="sel-field" name="campus">
                                                    <option value="Central">Central</option>
                                                    <option value="Yeshwantpur">Yeshwantpur</option>
                                                    <option value="Kengeri">Kengeri</option>
                                                </select>
                                            </div>

                                        </div>
                
                                        <div class="button-section">
                                            <button type="submit" class="btn btn-sm btn-success" style="font-size: 1.2rem;"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                            <button type="reset" class="btn btn-sm btn-danger" style="font-size: 1.2rem;"><i class="fa fa-ban"></i> Reset</button>
                                        </div>
                                    </form>
                                            {{ form.errors }}
                                    </div>
                                    <div class="small" style="text-align: center;">
                                        <a href="{% url 'login' %}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                {% comment %} <footer class="py-4 bg-light mt-auto text-center"> Christ Consulting ©2023
                </footer> {% endcomment %}
            </div>
            <script>

                var myInput = document.getElementById("psw");
                var letter = document.getElementById("letter");
                var capital = document.getElementById("capital");
                var number = document.getElementById("number");
                var length = document.getElementById("length");
            
                myInput.onfocus = function() {
                    document.getElementById("message").style.display = "block";
                }
            
                myInput.onblur = function() {
                    document.getElementById("message").style.display = "none";
                }
            
            
                myInput.onkeyup = function() {
            
                    var lowerCaseLetters = /[a-z]/g;
                    
                    if(myInput.value.match(lowerCaseLetters)) {  
                        letter.classList.remove("invalid");
                        letter.classList.add("valid");
                    } else {
                        letter.classList.remove("valid");
                        letter.classList.add("invalid");
                    }
                    
            
                    var upperCaseLetters = /[A-Z]/g;
                    if(myInput.value.match(upperCaseLetters)) {  
                        capital.classList.remove("invalid");
                        capital.classList.add("valid");
                    } else {
                        capital.classList.remove("valid");
                        capital.classList.add("invalid");
                    }
            
            
                    var numbers = /[0-9]/g;
                    if(myInput.value.match(numbers)) {  
                        number.classList.remove("invalid");
                        number.classList.add("valid");
                    } else {
                        number.classList.remove("valid");
                        number.classList.add("invalid");
                    }
                    
                    if(myInput.value.length >= 8) {
                        length.classList.remove("invalid");
                        length.classList.add("valid");
                    } else {
                        length.classList.remove("valid");
                        length.classList.add("invalid");
                    }
                }
            
                function passwordMatch(){
                    var pw1 = document.getElementById("psw").value;
                    var pw2 = document.getElementById("rpsw").value;
            
                    if(pw1 != pw2) {  
                        alert("Passwords dont match!")
                        return false;  
                    }
                    else{
                        alert("Successful, Enter further mor details to complete registration")
                        return true;
                    }
                }
            
            </script>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>

    <style>
        
    </style>


</html>