{% extends temp %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Projects</li>
        <li class="breadcrumb-item active">New Team</li>
{% endblock breadcrumb%}





{% block content %}
<div class="container animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card-group">
                    <div class="card p-4 mb-5">
                        <div class="card-body">
                            {% if created %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                Updated user hours!
                            </div>
                            {% endif %}
                                {% csrf_token %}
                                <h1>Hour Tracking</h1>
                                <p class="text-muted">Professor/Consultants</p>
                        

                            <form action="" method="post">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label class="col-form-label">Hour Tracking</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-industry"></i></span>
                                        </div>
                                        
                                        
                                        <input type="number" name="hours" id="" placeholder="Enter hours worked" required>

                                    </div>
                                
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                    </div>
                                </div>
                                
                                <div class="">
                                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                    
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-form-label">Intern Hour Approval <br><i>Approve/Deny Intern User Hours</i></label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-users"></i></span>
                                        </div>
                                        
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Username</th>
                                                        <th>Hours Claimed</th>
                                                        <th>Approve</th>
                                                        <th>Deny</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for x in details %}
                                                    <tr>
                                                        <td>{{x.email}}</td>
                                                        <td>{{x.hours_claimed}}</td>
                                                        <td ><a href="userhours-p/approve/{{x.id}}" style="color:green;text-decoration: none;font-weight: bolder;">Approve</a></td>
                                                        <td><a href="/userhours-p/deny/{{x.id}}" style="color:red;text-decoration: none;font-weight: bolder;">Deny</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                    </div>
                                </div>

                                
                            </form>
                            {{ form.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}