{% extends temp %}
{% load static %}

{% block extracss %}
        <link href="{% static 'loginsignupstyles.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block content %}
<div style="height:216px; background-color: #624bff; ">
<div class="container animated fadeIn" style="height:95%">
        <div class="row justify-content-center" style="width:80%">
            <div class="col-8">
                <div class="card-group">
                    <div class="card p-4 mb-5" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75); width: 70vw;">
                        <div class="card-body">
                            {% if created %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                Updated user hours!
                            </div>
                            {% endif %}
                                {% csrf_token %}
                                <h1>Hour Tracking</h1>
                            <form action="" method="post">
                                {% csrf_token %}

                                <div class="form-group mt-3  p-2">
                                    <label class="col-form-label">Hour Tracking</label>
                                    <div class="input-group border-top pt-2">
                                        <img src="{% static "icons/user.svg" %}"></img>                                        
                                        <input type="number" name="hours" placeholder="Enter hours worked" id="" required  style="width: 90%; outline:none; border:none; margin-left:.5rem;">
                                    </div>
                                </div>                               

                                <div class="button-section">
                                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                                </div>
                            </form>
                            {{ form.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




{% endblock %}