{% extends temp %}
{% load static %}

{% block extracss %}
        <link href="{% static 'loginsignupstyles.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block content %}
<div style="height:216px; background-color: #624bff;" class="pt-5">
<div class="container animated fadeIn p-1">
        <div class="row justify-content-center" style="width:80%">
            <div class="col-8" >
                <div class="card-group">
                    <div class="card p-4 mb-5" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75); width: 70vw;  border-radius: 1rem;">
                        <div class="card-body">
                            {% if created %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                Updated user hours!
                            </div>
                            {% endif %}
                                {% csrf_token %}
                                <h1>Hour Tracking</h1>
                            <form action="" method="post">
                                {% csrf_token %}

                                <div class="form-group mt-3  p-2">
                                    <label class="form-control-label">Hour Tracking</label>
                                    <div class="input-group border-top pt-2">
                                        <img src="{% static "icons/user.svg" %}"></img>
                                        <input type="number" name="hours" id="" placeholder="Enter hours worked" required style="width: 90%; outline:none; border:none; margin-left:.5rem;">
                                    </div>
                                </div>
                                
                                <div class="button-section">
                                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                </div>
                                <div class="form-group mt-5">
                                    <div class="input-group mt-1">
                                        <img src="{% static "icons/users.svg" %}" class="ml-2"></img>
                                        <label class="col-form-label ml-3">Intern Hour Approval</label>
                                        
                                            <table class="table mt-2"  style="min-height:10rem;">
                                                <thead>
                                                    <tr>
                                                        <th>Username</th>
                                                        <th>Hours Claimed</th>
                                                        <th>Approve</th>
                                                        <th>Deny</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for x in details %}
                                                    <tr>
                                                        <td>{{x.email}}</td>
                                                        <td>{{x.hours_claimed}}</td>
                                                        <td ><a href="userhours-p/approve/{{x.id}}" style="color:green;text-decoration: none;font-weight: bolder;">Approve</a></td>
                                                        <td><a href="/userhours-p/deny/{{x.id}}" style="color:red;text-decoration: none;font-weight: bolder;">Deny</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </form>
                            {{ form.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}