{% extends temp %}
{% load static %}

{% block extracss %}
<style>
  a:link {
    color: #f86c6b;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #f86c6b;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #f86c6b;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #f86c6b;
    background-color: transparent;
    text-decoration: underline;
  }
  </style>

  <link href="{% static 'css/theme.css' %}" rel="stylesheet">
{% endblock extracss %}


<section style="background-color: #eee;">
    <div class="container py-5">
      {% block content %}
        <div style="height:216px; background-color: #624bff;" class="pt-5">
          <div class="col-lg-12 col-md-12 col-12 mt-5" style="margin-bottom:2rem;">
              <div>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="mb-2 mb-lg-0 pl-3">
                          <h3 class="mb-0  text-white h1">Profile</h3>
                          <p class="text-light mt-1 h6">View profile here</p>
                      </div>
                  </div>
              </div>
          </div>
          <div id="db-wrapper">
            <div id="page-content ml-0">
              <div class="container-fluid p-6">
                <div class="row align-items-center">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="pt-3 rounded-top"></div>
                    <div class="bg-white rounded smooth-shadow-sm ">
                      <div class="d-flex align-items-center justify-content-between pt-4 pb-6 mb-2 px-4" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75); ">
                        <div class="d-flex align-items-center">
                          <div class="avatar-xxl me-2 position-relative d-flex justify-content-end align-items-end mt-n10">
                            {% if user_val.profile_pic %}
                            <img src="{{user_val.profile_pic.url}}" class="avatar-xxl rounded-circle border border-4 border-white-color-40" alt="profile">
                            {% else %}
                            <img src="{% static '/images/default.jpg' %}" class="avatar-xxl rounded-circle border border-4 border-white-color-40" alt="profile">
                            {% endif %}
                          </div>
                          
                            <button class="btn btn-secondary" data-target="#UploadImage" data-toggle="modal">Change</button> 
                            <form method="POST" action="" enctype="multipart/form-data">
                              {% csrf_token %}
                            <div class="modal" tabindex="-1" role="dialog" id="UploadImage">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Upload Profile Picture</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    
                                      
                                      {{ form.as_p}}
                                    
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Upload</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                          
                          <div class="lh-1">
                            <h2 class="mb-0">{{ user_val.username }}</h2>
                            <p class="mb-0 d-block">{{ user_val.role}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="py-6">
                  <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
                      <div class="card" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                        <div class="card-body">
                          <h4 class="card-title">About Me</h4>
                          <div class="row">
                            <div class="col-6 mb-5">
                              <h6 class="text-uppercase fs-5 ls-2">Full Name</h6>
                              <p class="mb-0">{{ user_val.firstname }} {{user_val.lastname}}</p>
                            </div>
                            <div class="col-6 mb-5">
                              <h6 class="text-uppercase fs-5 ls-2">Workables</h6>
                              <p class="mb-0">{{ user_val.hours}} hrs</p>
                            </div>
                            <div class="col-6 mb-5">
                              <h6 class="text-uppercase fs-5 ls-2">Email</h6>
                              <p class="mb-0">{{ user_val.email }}</p>
                            </div>
                            <div class="col-6 mb-5">
                              <h6 class="text-uppercase fs-5 ls-2">Campus</h6>
                              <p class="mb-0">{{ user_val.campus}}</p>
                            </div>
                            <div class="col-6">
                              <h6 class="text-uppercase fs-5 ls-2">Date joined</h6>
                              <p class="mb-0">{{ user_view.user.date_joined }}</p>
                            </div>
                            <div class="col-6">
                              <h6 class="text-uppercase fs-5 ls-2">Last login</h6>
                              <p class="mb-0">{{ user_view.user.last_login }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-12 col-12 mb-6">
                      <div class="card mb-4" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                        <div class="card-body">
                          <h4 class="card-title">Tasks Involved</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                              <div class="ms-3 ">
                                {% for task in user_view.user.task_set.all %}
                                  <h5 class="mb-1">{{task }} <a href="{% url 'register:deletetask' task=task.id %}"><b><p style="display: inline;font-size: .80rem;"> | <img src="{% static "icons/delete.svg" %}" style="width: 12%;"></img> </p></b></a> </h5>
                                  <ul>
                                    <li style="font-size: .77rem;">Project : <p style="font-size: .77rem; display:inline;color: #536c79;">{{task.project}}</p></li>
                                    <li style="font-size: .77rem;">Hours Required : <p style="font-size: .77rem; display:inline;color: #536c79;">{{task.hours_required}}</p></li>
                                    <li style="font-size: .77rem;">Status : {% if task.status == '1' %}
                                      <h6 style="font-size: .77rem; display:inline;color: #536c79;">Working</h6>
                                      {% elif task.status == '2' %}
                                      <h6 style="font-size: .77rem; display:inline;">Stuck</h6>
                                      {%else%}
                                      <h6 style="font-size: .77rem; display:inline;">Done</h6>            
                                      {% endif %}</li>
                                  </ul> 
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>  
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-12 col-12 mb-6">
                      <div class="card mb-4" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                        <div class="card-body">
                          <h4 class="card-title">Teams Involved</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                              <div class="ms-3 ">
                                {% for team in user_view.user.team_set.all %}
                                <ul style="padding-left: 10px;">
                                  <li><h5 class="mb-1">{{ team }}</h5></li>
                                </ul>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

{% endblock %}



