{% extends temp %}
{% load static %}


<section style="background-color: #eee;">
    <div class="container py-5">
        {% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">User Profile</li>
        {% endblock breadcrumb%}

        {% block content %}
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://as1.ftcdn.net/v2/jpg/00/64/67/52/1000_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{ user_val.username }}</h5>
              <p class="text-muted mb-1">{{ user_val.role}}</p>
              <!-- <p class="text-muted mb-4">{{ user_val.campus}} Campus</p> -->
              
            </div>
          </div>
          
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_view.user.get_full_name }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_val.email }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Campus</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_val.campus}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Date joined</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_view.user.date_joined }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Last login</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_view.user.last_login }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Tasks involved</span>
                  </p>
                  <ul class="m-4"></ul>
                  {% for task in user_view.user.task_set.all %}
                  <li><p class="mb-1" style="font-size: .77rem; display:inline;">{{ task }}</p></li>
                  {% endfor %}
                </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Teams involved</span>
                  </p>
                <ul class="m-4"></ul>
                  {% for team in user_view.user.team_set.all %}
                  <li><p class="mb-1" style="font-size: .77rem; display:inline;">{{ team }}</p></li>
                  {% endfor %}
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}