{% extends temp %}

{% block title %}
Add EventMember
{% endblock %}

{% block extracss %}
<style>
  label {
    font-size: 1.2rem;
    margin: 0px;
  }
  select#id_user {
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: .5rem;
  }
</style>
{% endblock extracss %}

{% block content %}
    <div style="height:216px; background-color: #624bff;" class="pt-5">
      <div class="col-lg-12 col-md-12 col-12" style="margin-bottom:2rem;">
        <!-- Page header -->
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="mb-2 mb-lg-0 pl-3 pt-1">
              <h3 class="mb-0 text-white h1 pt-1">Add member to {{ event.title }}</h3>
              <p class="text-light mt-1 h6">Add members to your milestone here</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid w-50">
        <div class="animated fade-in">
          <div class="card p-4" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
            <div class="d-flex justify-content-center align-items-center">
              <div class="w-100">
                <form method="post">
                  {% csrf_token %}
                  <table class="form form-table w-100">
                    {{ form }}
                    <tr><td class="d-flex justify-content-center" style="width:179%;" colspan="2"><button type="submit" class="btn btn-success px-3 mt-4" style="border-radius:.5rem;"> Add User </button></td></tr>
                  </table>
                </form>
              </div>
              <div class="button-section w-100 d-flex justify-content-end align-items-end" style="height:6rem;">
                <a class="btn btn-dark mr-3" href="{% url 'calendarapp:calendar' %}" style="border-radius: .5rem;">Calendar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock %}
