{% extends temp %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock extracss %}

{% block content %}

<style>

    input, textarea {
      border: none !important;
      outline: none !important;
    }

    textarea {
      height: 5rem;
    }

    .fc-icon-chevron-left::before{
      background: url('../../../consultancy2/static/icons/left.svg') no-repeat center center/cover;
    }
</style>
<div style="height:216px; background-color: #624bff;" class="pt-5">
<div class="container-fluid">
<div id="ui-view" style="opacity: 1;"><div class="animated fadeIn">
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3 my-3">  
        
                <a class="" href="https://meet.new">
                  <button id="modalClose2" type="button" class="btn btn-dark mt-1" style="border-radius: 100%; height: 3rem; width: 3rem;"><img src="{% static "icons/video.svg" %}"></img></button>
                </a>
                <div id="external-events" class="mt-4">
                    <h4 class="mb-3 text-white">Running milestones</h4>
                    {% for event in events_month %}
                      <div class="card" style="width: 100%; box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                        <div class="card-body">
                          <h4 class="card-title"><b>{{ event.title }}</b></h4>
                          <hr>
                          <p class="card-text"><b> From:</b> {{ event.start_time }}</p>
                          <p class="card-text"><b>To:</b> {{ event.end_time }}</p>
                          <a href="{% url "calendarapp:event-detail" event_id=event.id %}"><button style="height: 35%; width: 40%; font-weight: bolder; border-radius: .5rem;" class="btn btn-dark">Details</button></a>
                        </div>
                      </div>
                    {% empty %}
                      <p class=" text-white">No Running Events Found</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9 my-4">
              <div class="container-fluid py-4" style="background:white; box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75); border-radius: .5rem;">
                <div id="ui-view" style="opacity: 1;">
                  <div class="animated fadeIn">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>

            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="exampleModalLongTitle" >Add New Milestone</h5>
                            <button id="modalClose1" type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                              <div class="form-group border p-2" style="border-radius: .5rem;">
                                <label class="col-form-label ml-2">Milestone Title:</label>
                                <div class="input-group border-top">
                                  <img src="{% static "icons/flag.svg" %}"></img>
                                  {{ form.title }}
                                </div>
                              </div>
                              <div class="form-group border p-2" style="border-radius: .5rem;">
                                <label class="col-form-label ml-2">Members:</label>
                                <div class="input-group border-top">
                                  <img src="{% static "icons/description.svg" %}"></img>
                                  {{ form.members }}
                                </div>
                              </div>
                              <div class="form-group border p-2" style="border-radius: .5rem;">
                                <label class="col-form-label ml-2">Description:</label>
                                <div class="input-group border-top">
                                  <img src="{% static "icons/description.svg" %}"></img>
                                  {{ form.description }}
                                </div>
                              </div>
                              <div class="form-group border p-2" style="border-radius: .5rem;">
                                <label class="col-form-label ml-2">Start Date:</label>
                                <div class="input-group border-top">
                                  <img src="{% static "icons/calendar.svg" %}"></img>
                                  {{ form.start_time }}
                                </div>
                              </div>
                              <div class="form-group border p-2" style="border-radius: .5rem;">
                                <label class="col-form-label ml-2">End Date:</label>
                                <div class="input-group border-top">
                                  <img src="{% static "icons/calendar.svg" %}"></img>
                                  {{ form.end_time }}
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer button-section">
                                <button id="modalClose2" type="button" class="btn btn-dark" style="border-radius: .5rem;">Close</button>
                                <button type="submit" class="btn btn-dark" style="border-radius: .5rem;">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock content %}

{% block extrascripts %}
  <script src="{% static 'calender/main.js' %}"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();

        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
          },
          initialDate: today,
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          select: function(arg) {
            console.log('clicked')
            var modal = document.getElementById('eventModal')
            modal.style.display = 'block'
            calendar.unselect()
          },
          // THIS KEY WON'T WORK IN PRODUCTION!!!
          // To make your own Google API key, follow the directions here:
          // http://fullcalendar.io/docs/google_calendar/
          // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',
          eventClick: function(arg) {
              //arg.event.remove()
          },
          editable: false,
          dayMaxEvents: true, // allow "more" link when too many events
          events: {{ events|safe }},
        });

        calendar.render();
      });
      const closeBtn1 = document.getElementById('modalClose1');
      const closeBtn2 = document.getElementById('modalClose2');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
  </script>
{% endblock extrascripts %}
