{% extends temp %}
{% load static %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
    <div style="height:216px; background-color: #624bff;" class="pt-5">
        <div class="col-lg-12 col-md-12 col-12" style="margin-bottom:2rem;">
            <!-- Page header -->
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mb-2 mb-lg-0 pl-3 pt-1">
                        <h3 class="mb-0 text-white h1 pt-1">{{ event.title }}</h3>
                        <p class="text-light mt-1 h6">View your milestone details here</p>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="container-fluid">
            <div class="animated fade-in">
                <div class="card p-4" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="w-50">
                            <p>
                            <div><span class="text-muted">From:</span> {{ event.start_time }}</div>
                            <div><span class="text-muted">To:</span> {{ event.end_time }}</div>
                            </p>
                        </div>
                        <div class="button-section w-100 d-flex justify-content-end">
                            <a class="btn btn-dark mr-3" href="{% url 'calendarapp:calendar' %}"
                                style="border-radius: .5rem;"> Calendar </a>
                            <a class="btn btn-dark mr-3" href="{% url 'calendarapp:event_edit' event.pk %}"
                                style="border-radius: .5rem;"> Edit Milestone </a>
                        </div>
                    </div>
    
                    <div>
                        <span class="text-muted">Description:</span> <p>{{ event.description }}</p>
                    </div>
    
                </div>
            </div>
        </div>
    
        <div class="container-fluid my-5">
            <div class="animated fade-in">
                <div class="card p-4" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                    <div class="d-flex justify-content-center align-items-center">
                        <h4 class="w-50"> Members of this Milestone</h4>
                        <div class="button-section w-100 d-flex justify-content-end">
                            <a class="btn btn-dark mr-3" style="border-radius: .5rem;"
                                href="{% url 'calendarapp:add_eventmember' event.id %}"> Add Member </a>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover mt-3">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" style="width: 80px;">Sr. No</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Username</th>
                                <th class="text-center">Email</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in eventmember %}
                            <tr role="row">
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center">{% for ex in users2 %}
                                    {% if member.user.username == ex.username %}
                                    {{ex.firstname}} {{ex.lastname}}
                                    {%endif%}
                                    {%endfor%}</td>
                                <td class="text-center">{{ member.user.username }}</td>
                                <td class="text-center">{{ member.user.email }}</td>
                                <td class="text-center">
                                    <a style="border-radius:.5rem;" href="{% url 'calendarapp:remove_event' member.id %}"><img src="{% static "icons/delete.svg" %}" style="cursor: pointer;"></img></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
