<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;"><div class="animated fadeIn">
      <div class="row">
      <div class="col-12">
        <div class="card">
        <div class="card-header"> Main info
          <div class="card-actions">
            <a href="" target="_blank">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="jumbotron bg-white">
            <h1 class="display-4">Hello, Incharges!</h1>
            <p class="lead">Welcome to Projectoid.</p>
            <hr class="my-4">
            <p>A Proprietary software designed for Christ Consultancy</p>
            <p></p>
            
          </div>
        </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>