{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div style="height:216px; background-color: #624bff; "></div>
<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">
        <div class="row">
                <div class="col-12">
                    {%for tk in proj%}
                    <div class="card">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <a href="{% url 'projects:editp' tk.pk %}">
                                <div class="card-body">
                                    {{tk.name}}
                                    <br>
                                    {{tk.status}}
                                    <br>
                                    </div>
                            </a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}