{% extends temp %}
{% load static %}

{% block extracss %}
    <link href="{% static 'loginsignupstyles.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block extrascripts %}
<script>
function reset() {
    document.getElementById("form1").reset();
}
</script>
{% endblock extrascripts %}



{% block content %}
<div style="height:216px; background-color: #624bff;" class="pt-5">
    <div class="col-lg-12 col-md-12 col-12" style="margin-bottom:2.5rem; font-family: Inter, sans-serif;">
        <!-- Page header -->
        <div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="mb-2 mb-lg-0 pl-3 mt-1">
                    <h3 class="mb-0  text-white" style="font-size: 36px">Edit Project</h3>
                    <p class="text-light mt-1 h6">Edit your projects here</p>
                </div>
            </div>
        </div>
    </div>
<div class="container animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card-group">
                    <div class="card p-4 mb-5"  style="width: 70vw; box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75); border-radius: 1rem;">
                        <div class="card-body">
                                {% csrf_token %}
                            <form action="" method="post" id="form1">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-form-label">Project Name</label>
                                    <div class="input-group border-top">
                                        <img src="{% static "icons/user.svg" %}"></img>

                                        {{ form.name }}
                                        {% if form.name.errors %}
                                            <ol>
                                            {% for error in form.name.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Category</label>
                                    <div class="input-group border-top">
                                        <img src="{% static "icons/layers.svg" %}"></img>
                                        {{ form.category }}
                                        {% if form.category.errors %}
                                            <ol>
                                            {% for error in form.category.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Assign To <div><small><i class="text-muted">Crtl+click for multiple selection</i></small></div></label>
                                    <div class="input-group border-top">
                                        <img src="{% static "icons/user.svg" %}"></img>
                                        {{ form.assign }}
                                        {% if form.assign.errors %}
                                            <ol>
                                            {% for error in form.assign.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <label class="col-form-label">Status</label>
                                    <div class="input-group border-top">
                                        <img src="{% static "icons/status.svg" %}"></img>
                                        {{ form.status }}
                                        {% if form.status.errors %}
                                            <ol>
                                            {% for error in form.status.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Dead Line</label>
                                    <div class="input-group border-top">
                                        <img src="{% static "icons/calendar.svg" %}"></img>
                                        {{ form.dead_line }}
                                    </div>

                                    {% if form.dead_line.errors %}
                                            <ol>
                                            {% for error in form.dead_line.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Company</label>
                                    <div class="input-group border-top">
                                        <img src="{% static "icons/company.svg" %}" style="width:1.5rem;"></img>
                                        {{ form.company }}
                                    </div>

                                    {% if form.company.errors %}
                                            <ol>
                                            {% for error in form.company.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Completion</label>
                                    <div class="input-group border-top">
                                        <img src="{% static "icons/percent.svg" %}"></img>
                                        {{ form.complete_per }}
                                    </div>

                                    {% if form.complete_per.errors %}
                                            <ol>
                                            {% for error in form.complete_per.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Description</label>
                                    <div class="input-group border-top">
                                        <img src="{% static "icons/description.svg" %}"></img>
                                        {{ form.description }}
                                    </div>

                                    {% if form.description.errors %}
                                            <ol>
                                            {% for error in form.description.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                </div>

                                <div class="button-section">
                                    <button type="submit" class="btn btn-sm btn-success">Submit</button>
                                </div>
                            </form>
                            {{ form.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}