{% extends temp %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Projects</li>
        <li class="breadcrumb-item active">Edit Task</li>
{% endblock breadcrumb%}

{% block extracss %}
    <link href="{% static 'loginsignupstyles.css' %}" rel="stylesheet" />
{% endblock extracss %}



{% block content %}
<div class="container animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card-group">
                    <div class="card p-4 mb-5" style="width: 70vw;">
                        <div class="card-body">
                                {% csrf_token %}
                                <h1>Edit Task</h1>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    
                                            {{ form.project.as_hidden }}
                                            {{ form.assign.as_hidden }}
                                            
                                    <div class="form-group">
                                        <label class="col-form-label">Task name</label>
                                        <div class="input-group">
                                            <img src="{% static "icons/description.svg" %}" ></img>
                                            {{ form.task_name }}
                                            {% if form.task_name.errors %}
                                                <ol>
                                                {% for error in form.task_name.errors %}
                                                    <li><strong>{{ error|escape }}</strong></li>
                                                {% endfor %}
                                                </ol>
                                            {% endif %}
                                        </div>
                                    </div>
                                            {{ form.difficulty.as_hidden }}
                                    <div class="form-group">
                                        <label class="col-form-label">Status</label>
                                        <div class="input-group">
                                            <img src="{% static "icons/status.svg" %}" ></img>
                                            {{ form.status }}
                                            {% if form.status.errors %}
                                                <ol>
                                                {% for error in form.status.errors %}
                                                    <li><strong>{{ error|escape }}</strong></li>
                                                {% endfor %}
                                                </ol>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="button-section">
                                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                    </div>
                                </form>
                            {{ form.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}