{% extends temp %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Projects</li>
        <li class="breadcrumb-item active">New Task</li>
{% endblock breadcrumb%}

{% block extracss %}
    <link href="{% static 'loginsignupstyles.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block extrascripts %}
<script>
function reset() {
    document.getElementById("form1").reset();
}
</script>
{% endblock extrascripts %}

{% block content %}
<div class="container animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card-group">
                    <div class="card p-4 mb-5" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75); width: 70vw;">
                        <div class="card-body">
                            {% if created %}
                              <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  Congratulations, your task was created!
                              </div>
                            {% endif %}
                                {% csrf_token %}
                                <h1>Tasks</h1>
                                <p class="text-muted">Create your tasks here</p>
                                <form action="" method="post" id="form1">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-form-label">Project</label>
                                        <div class="input-group">
                                            <img src="{% static "icons/project.svg" %}" style="width:5%;"></img>
                                            {{ form.project }}
                                            {% if form.project.errors %}
                                                <ol>
                                                {% for error in form.project.errors %}
                                                    <li><strong>{{ error|escape }}</strong></li>
                                                {% endfor %}
                                                </ol>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Assign. <i>Crtl+click for multiple selection</i></label>
                                        <div class="input-group">
                                            <img src="{% static "icons/user.svg" %}" ></img>
                                            {{ form.assign }}
                                            {% if form.assign.errors %}
                                                <ol>
                                                {% for error in form.assign.errors %}
                                                    <li><strong>{{ error|escape }}</strong></li>
                                                {% endfor %}
                                                </ol>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Task name</label>
                                        <div class="input-group">
                                            <img src="{% static "icons/description.svg" %}" ></img>
                                            {{ form.task_name }}
                                            {% if form.task_name.errors %}
                                                <ol>
                                                {% for error in form.task_name.errors %}
                                                    <li><strong>{{ error|escape }}</strong></li>
                                                {% endfor %}
                                                </ol>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Difficulty</label>
                                        <div class="input-group">
                                            <img src="{% static "icons/calendar.svg" %}" ></img>
                                            {{ form.difficulty }}
                                        </div>

                                        {% if form.difficulty.errors %}
                                                <ol>
                                                {% for error in form.difficulty.errors %}
                                                    <li ><strong>{{ error|escape }}</strong></li>
                                                {% endfor %}
                                                </ol>
                                            {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Status</label>
                                        <div class="input-group">
                                            <img src="{% static "icons/status.svg" %}" ></img>
                                            {{ form.status }}
                                            {% if form.status.errors %}
                                                <ol>
                                                {% for error in form.status.errors %}
                                                    <li><strong>{{ error|escape }}</strong></li>
                                                {% endfor %}
                                                </ol>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="button-section">
                                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                        <button type="reset" class="btn btn-sm btn-danger" onclick="reset();"><i class="fa fa-ban"></i> Reset</button>
                                    </div>
                                </form>
                            {{ form.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}