{% extends temp %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Projects</li>
        <li class="breadcrumb-item active">New Team</li>
{% endblock breadcrumb%}

{% block extracss %}
        <link href="{% static 'loginsignupstyles.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block content %}
<div class="container animated fadeIn overflow-hidden" style="height: 96%">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card-group">
                    <div class="card p-4 mb-5" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75); width: 70vw;">
                        <div class="card-body">
                            {% if created %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                Congratulations, your team was created!
                            </div>
                            {% endif %}
                                {% csrf_token %}
                                <h1>Teams</h1>
                                <p class="text-muted">Create your teams here</p>
                        

                            <form action="" method="post">
                                {% csrf_token %}

                                
                                <div class="form-group mt-3">
                                    <label class="form-control-label">Name</label>
                                    <div class="input-group border-top">
                                        <img src="{% static "icons/user.svg" %}"></img>

                                        {{ form.team_name }}
                                        {% if form.team_name.errors %}
                                            <ol>
                                            {% for error in form.team_name.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-form-label">Assign To <div><small><i class="text-muted">Crtl+click for multiple selection</i></small></div></label>
                                    <div class="input-group border-top">
                                        <img src="{% static "icons/users.svg" %}"></img>
                                        
                                        {{ form.assign }}
                                        {% if form.assign.errors %}
                                            <ol>
                                            {% for error in form.assign.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="button-section">
                                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                                </div>
                            </form>
                            {{ form.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}