{% extends temp %}
{% load static %}

{% block extracss %}
<link href="{% static 'css/theme.css' %}" rel="stylesheet">
<style>
#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 7px;
	height: 7px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}
</style>
{% endblock extracss%}

{% block extrascripts %}
<script>
    function search_title()
    {
        var input,table,tr,td,filter,txtdata;
        input=document.getElementById("search");
        filter=input.value.toUpperCase();
        table=document.getElementById("projects_table");
        tr=table.getElementsByTagName("tr");
        
        for(i=0;i<tr.length;i++)
        {
            td=tr[i].getElementsByTagName("td")[0];
            if(td)
            {
                txtdata=td.innerText;
                if(txtdata.toUpperCase().indexOf(filter)>-1)
                {
                    tr[i].style.display="";
                }
                else
                {
                    tr[i].style.display="none";
                }
            }
        }

    }

    function search_date()
    {
        var input,table,tr,td,filter,txtdata;
        input=document.getElementById("search");
        filter=input.value.toUpperCase();
        table=document.getElementById("projects_table");
        tr=table.getElementsByTagName("tr");
        
        for(i=0;i<tr.length;i++)
        {
            td=tr[i].getElementsByTagName("td")[2];
            if(td)
            {
                txtdata=td.innerText;
                if(txtdata.toUpperCase().indexOf(filter)>-1)
                {
                    tr[i].style.display="";
                }
                else
                {
                    tr[i].style.display="none";
                }
            }
        }

    }

    function search_status()
    {
        var input,table,tr,td,filter,txtdata;
        input=document.getElementById("search");
        filter=input.value.toUpperCase();
        table=document.getElementById("projects_table");
        tr=table.getElementsByTagName("tr");
        
        for(i=0;i<tr.length;i++)
        {
            td=tr[i].getElementsByTagName("td")[3];
            if(td)
            {
                txtdata=td.innerText;
                if(txtdata.toUpperCase().indexOf(filter)>-1)
                {
                    tr[i].style.display="";
                }
                else
                {
                    tr[i].style.display="none";
                }
            }
        }

    }

    function search_team()
    {
        var input,table,tr,td,filter,txtdata;
        input=document.getElementById("search");
        filter=input.value.toUpperCase();
        table=document.getElementById("projects_table");
        tr=table.getElementsByTagName("tr");
        
        for(i=0;i<tr.length;i++)
        {
            td=tr[i].getElementsByTagName("td")[4];
            if(td)
            {
                txtdata=td.innerText;
                if(txtdata.toUpperCase().indexOf(filter)>-1)
                {
                    tr[i].style.display="";
                }
                else
                {
                    tr[i].style.display="none";
                }
            }
        }

    }
        
    function search_category()
    {
        var input,table,tr,td,filter,txtdata;
        input=document.getElementById("search");
        filter=input.value.toUpperCase();
        table=document.getElementById("projects_table");
        tr=table.getElementsByTagName("tr");
        
        for(i=0;i<tr.length;i++)
        {
            td=tr[i].getElementsByTagName("td")[1];
            if(td)
            {
                txtdata=td.innerText;
                if(txtdata.toUpperCase().indexOf(filter)>-1)
                {
                    tr[i].style.display="";
                }
                else
                {
                    tr[i].style.display="none";
                }
            }
        }

    }


    function option()
    {
        var ch=document.getElementById("choice");
        if(ch.value=="title")
        {
            search_title();
        }
        else if(ch.value=="ddate")
        {
            search_date();
        }
        else if(ch.value=="status")
        {
            search_status();
        }
        else if(ch.value=="team")
        {
            search_team();
        }
        else
        {
            search_category();
        }
        
    }

    function clearInput()
    {
        var table = document.getElementById("projects_table");
        var searchBox = document.getElementById("search");
        searchBox.value = "";
        const rows = table.getElementsByTagName("tr");
        for (let i = 0; i < rows.length; i++) {
            rows[i].style.display = "";
        }
    }
</script>
{% endblock extrascripts %}

{% block content %}
    <div id="db-wrapper">
        <div id="page-content" class="ml-0">
            <div class="bg-primary pt-10 pb-21"></div>
            <div class="container-fluid mt-n22 px-6">
                <div class="row animated fade-in">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Page header -->
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mb-2 mb-lg-0">
                                    <h3 class="mb-0  text-white h1">Projects</h3>
                                    <p class="text-light mt-1 h6">View your projects here</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                        <!-- card -->
                        <div class="card" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">Active Projects</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                                        <img src="{% static "icons/briefcase.svg" %}" ></img>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div>
                                    <h1 class="fw-bold">{{ projects.count }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                        <!-- card -->
                        <div class="card " style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">Active Task</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                                        <img src="{% static "icons/list-task.svg" %}" ></img>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div>
                                    <h1 class="fw-bold">{{ tasks.count }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                        <!-- card -->
                        <div class="card " style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">Overdue Tasks</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                                        <img src="{% static "icons/list-task.svg" %}" ></img>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div>
                                    <h1 class="fw-bold">{{ overdue_tasks.count }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                            <!-- card -->
                            <div class="card " style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                                <!-- card body -->
                                <div class="card-body">
                                    <!-- heading -->
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div>
                                            <h4 class="mb-0">Projects Completion</h4>
                                        </div>
                                        <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                                            <img src="{% static "icons/percent.svg" %}" ></img>
                                        </div>
                                    </div>
                                    <!-- project number -->
                                    <div>
                                        <h1 class="fw-bold">{{ avg_projects|floatformat }}%</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- row  -->
                <div class="row mt-6">
                    <div class="col-md col-12">
                        <!-- card  -->
                        <div class="card" style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                            <!-- card header  -->
                            <div class="card-header bg-white  py-4">
                                <h4 class="mb-0">Progress</h4>
                            </div>
                            <!-- table  -->
                            <div class="table-responsive" style="max-height: 80vh;">
                                {% for project in projects %}
                                <table class="table text-nowrap mb-0" >
                                    <thead class="table-light">
                                        <tr>
                                            <th style="color:black; font-weight: bold;">{{ project }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">
                                                
                                                <span class="value">
                                                    <span class="mr-5">
                                                        {% if project.status == '1' %}
                                                        <span class="badge badge-info" style="width: fit-content;">Working</span>
                                                        {% elif project.status == '2' %}
                                                        <span class="badge badge-danger" style="width: fit-content;">Stuck</span>
                                                        {% else %}
                                                        <span class="badge badge-success" style="width: fit-content;">Done!</span>
                                                        {% endif %}
                                                    </span>
                                                    <span class="text-muted small">deadline: </span><span class="text-dark">{{ project.dead_line }}</span><span class="text-muted small ml-2">({{ project.complete_per }}%)</span>
                                                </span>

                                                {% if project.complete_per < 30%}
                                                <div class="bars mt-2">
                                                    <div class="progress  progress-xs" style="height:15px;">
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{ project.complete_per }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ project.complete_per }}%"></div>
                                                    </div>
                                                </div>
                                                {% elif project.complete_per < 100%}
                                                <div class="bars mt-2">
                                                    <div class="progress  progress-xs" style="height:15px;">
                                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="{{ project.complete_per }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ project.complete_per }}%"></div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="bars mt-2">
                                                    <div class="progress  progress-xs" style="height:15px;">
                                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ project.complete_per }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ project.complete_per }}%"></div>
                                                    </div>
                                                </div>
                                                {% endif %}

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                


                <div class="Filters" style="text-align: center; margin: 20px;">
                    <p style="display:inline; font-size: 1.3rem; color:black;"><b> Filters</b></p>
                    <select id="choice" style="text-align:center; margin-left: .7rem; height:2rem; border-radius: .5rem;" onchange="reset();">
                        <option value="title">Title</option>
                        <option value="category">Category</option>
                        <option value="ddate">Due Date</option>
                        <option value="status">Status</option>
                        <option value="team">Team</option>
                    </select>
                
                    <input type="text" id="search" placeholder="Search Records" onkeyup="option();" style="top: -2px; position: relative; height: 2rem; margin-left:1rem; border-radius: .5rem; border: 1px solid black">
                    <input type="button" class="ml-3 btn btn-dark py-0" value="Clear" onclick="clearInput();" style="height:2rem;top: -2px;position: relative;">
                    <button type="button" value="Download All" style="height: 2rem;top: -2px;position: relative;" class="ml-3 btn btn-dark py-0" onclick="location.href = '/projects/projects/downloadallprojreport' " %}>Download All</button>
                    <input type="button" value="Upload Project CSV" class="ml-3 btn btn-dark py-0" style="height: 2rem;top: -2px;position: relative;">                
                </div>

                <div class="row mt-6">
                    <div class="col-md-12 col-12">
                        <div class="card " style="box-shadow: 14px 12px 32px -5px rgba(0,0,0,0.75);">
                            <div class="card-header bg-white  py-4">
                                <h4 class="mb-0">Active Projects</h4>
                            </div>
                            <div class="table-responsive pb-2" id="style-4">
                                <table class="table text-nowrap mb-0" id="projects_table">
                                    <thead class="table-light">
                                        <tr>
                                            <th style="color:black;">Project Name</th>
                                            <th style="color:black;">Category</th>
                                            <th style="color:black;">Due Date</th>
                                            <th style="color:black;">Status</th>
                                            <th style="color:black;">Team</th>
                                            <th style="color:black;">Progress</th>
                                            <th style="color:black;">Download</th>
                                            <th style="color:black;">Document</th>
                                            <th style="color:black;">Reference Doc</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for project in projects %}
                                        <tr>
                                            <td class="align-middle">
                                                <a class="text-black text-decoration-none" href="/projects/projects/project/{{project.id}}">{{ project.name }}</a>
                                                <a href="/projects/projects/edit_project/{{project.id}}"> <img style="width: 20%; margin-left: 5px" src="{% static "icons/edit.svg" %}" ></img></a>
                                            </td>
                                            <td class="align-middle">
                                                <p style="font-size: .8rem; color: black;top: 7px;position: relative;">
                                                    {% if project.category == '1' %}Extension Based
                                                    {% elif project.category == '2' %}Functional Based
                                                    {% elif project.category == '3' %}Research Based
                                                    {% elif project.category == '4' %}Government
                                                    {% else %}None
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td class="align-middle text-dark">{{ project.dead_line }}</td>
                                            <td class="align-middle" style="position: relative;top: 8px;">
                                                <p style="font-size: .8rem; color: black;">
                                                    {% if project.status == '2' %}Stuck
                                                    {% elif project.status == '1' %}Working
                                                    {% elif project.status == '3' %}Done
                                                    {% else %}Completed
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td class="align-middle text-dark">
                                                {% for tpair in projteamassoc %}
                                                {% if tpair.0 == project.name %}
                                                {{tpair.2}}
                                                {% endif %}
                                                {% endfor %}
                                            </td>



                                            {% if project.complete_per < 30%}
                                            <td style="align-middle">
                                                <div class="d-flex align-items-center" style="position:relative;top:17px;">
                                                    <div>
                                                        <div class="progress" style="width:100px;height:10px;">
                                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{ project.complete_per }}"
                                                            aria-valuemin="0" aria-valuemax="100" style="width:{{ project.complete_per }}%"></div>
                                                        </div>
                                                    </div>
                                                    <span class="ml-2">{{ project.complete_per }}%</span>
                                                </div>
                                            </td>
                                            {% elif project.complete_per < 100%}
                                            <td style="align-middle">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="progress" style="width:100px;height:10px;">
                                                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="{{ project.complete_per }}"
                                                            aria-valuemin="0" aria-valuemax="100" style="width:{{ project.complete_per }}%"></div>
                                                        </div>
                                                    </div>
                                                    <span class="ml-2">{{ project.complete_per }}%</span>
                                                </div>
                                            </td>
                                            {% else %}
                                            <td style="align-middle">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="progress" style="width:100px;height:10px;">
                                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ project.complete_per }}"
                                                            aria-valuemin="0" aria-valuemax="100" style="width:{{ project.complete_per }}%"></div>
                                                        </div>
                                                    </div>
                                                    <span class="ml-2">{{ project.complete_per }}%</span>
                                                </div>
                                            </td>
                                            {% endif %}



                                            <td class="align-middle text-dark text-center">
                                                <a href="/projects/projects/downloadprojreport/{{project.id}}" style="color: red; text-decoration:none; "><img src="{% static "icons/download.svg" %}" style="cursor: pointer;"></img></a>
                                            </td>

                                            <td class="align-middle text-dark">
                                                <form enctype="multipart/form-data" method="post" action="/projects/projects/uploadprojdoc/{{project.id}}">
                                                    {% csrf_token %}
                                                    <!-- {{ form.as_p }} -->
                                                    <input type="file" value="upload" name="upload" id="upload" class="mt-2" style="max-width: 13rem; font-size:.8rem;">
                                                    <input type="submit" class="mt-2 mb-2 btn btn-dark" value="Upload Doc" style="font-weight:bold; font-size:.7rem;">
                                                    {% if project.documents %}
                                                    <input type="button" class="my-2 ml-2 btn btn-dark" value="Download Doc" style="font-weight:bold;  font-size:.7rem;" onclick='location.href= "{{ project.documents.url }}"'>
                                                    {% endif %}
                                                </form>
                                            </td>

                                            <td class="align-middle text-dark">

                                                <form enctype="multipart/form-data" method="post" action="/projects/projects/uploadrefprojdoc/{{project.id}}">
                                                    {% csrf_token %}
                                                    {% if project.refdocuments %}
                                                        <input type="button" class="my-2 ml-2 btn btn-dark" value="Download Ref Doc" style="font-weight:bold;  font-size:.7rem;" onclick='location.href= "{{ project.refdocuments.url }}"'>
                                                    {% else %}
                                                        <input type="file" value="refupload" name="refupload" id="refupload" class="mt-2" style="max-width: 13rem; font-size:.8rem;">
                                                        <input type="submit" class="mt-2 mb-2 btn btn-dark" value="Upload Ref Doc" style="font-weight:bold; font-size:.7rem;">
                                                    {% endif %}
                                                </form>

                                            </td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock %}