{% extends temp %}
{% load static %}

{% block extracss %}
<style>
body {
    margin: 0px !important;
}
</style>
{% endblock extracss %}

{% block content %}
<link href="{% static 'core/css/teamstyle.css' %}" rel="stylesheet">

<div style="height:216px; background-color: #624bff;" class="pt-5">
<div class="row">
    {%for tk in tasks%}
  <div class="col-sm-6" style="width: 48%;">
      <div class="card-body">
                    <div class="courses-container m-0">
                        <div class="course">
                            <div class="course-preview d-flex align-item-center justify-content-start flex-column" style="color: #fff; background-color: #29363d; border-color: #29363d;">
                                <h6>Status</h6>
                                <h4 class="mt-1">Task Name</h4>
                                <h6 class="mt-1">Project</h6>
                            </div>
                            <div class="course-info d-flex align-item-center justify-content-around flex-column">
                                {% if tk.status == '1' %}
                                <h6>Working</h6>
                                {% elif tk.status == '2' %}
                                <h6>Stuck</h6>
                                {%else%}
                                <h6>Done</h6>
                                {% endif %}
                                <h2>{{tk.task_name}}</h2>
                                <h6 class="mt-3">{{tk.project}}</h6>
                                <div class="button-section mt-4 d-flex align-item-center justify-content-around">
                                    <a href="/projects/projects/edit_task/{{tk.id}}"><button class="btn btn-dark">Edit</button></a>
                                    <a href="{% url 'projects:deletetask' task=tk.id %}"><button class="btn btn-dark">Delete</button></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
</div>
</div>


{% endblock %}