{% extends temp %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Friends</li>
{% endblock breadcrumb%}

{% block content %}

<div class="">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-12">
                    <div class="card mt-5 ">
                        <div class=" simple-box d-flex flex-column justify-content-center align-items-center">
                            <br><br><br>
                            <h1 class="text-center display-5"><b>Team Views</b></h1>
                            <br><br><br>

                            <table class="table table-bordered" style="width: 70%;">
                                {% comment %} <tr  class="thead-dark"> {% endcomment %}
                                <tr>
                                    <th class="w-50 text-center h4"><b>Name</b></th>
                                    <th class="w-50 text-center h4"><b>Members</b></th>
                                </tr>

                                {% for key,value in teamd.items %}
                                    <tr>
                                        <td class="text-center h5">{{key}}</td>
                                        <td class="text-center h5">{{value}}</td>
                                    </tr>
                                {% endfor %}

                            </table>

                            <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}